/* cascading style sheet*/
/*선택자(selector)*/

/*
#header-center h1{
    자손 선택자
}
*/
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-center {
    margin: 0 auto;
    width: 1080px;
}
#header-search > h1 {
    width: 198px;
    height: 48px;
    display: inline-block;
    background-image: url(./12345.png);
}

#header-search  h2 {
    display : none;
}

#header-search fieldset{
    width: 520px;
    display: inline-block;
}

